//only display
.only-mobile {
  @include media-desktop {
    display: none !important;
  }
}
.only-desktop {
  @include media-mobile {
    display: none !important;
  }
}
.hidden-phone {
  @include media-phone {
    display: none !important;
  }
}
.hidden-tablet {
  @include media-tablet {
    display: none !important;
  }
}
.only-phone {
  @include media-tablet {
    display: none !important;
  }
  @include media-desktop {
    display: none !important;
  }
}

//opening
.opening {
  @include media-desktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 9999;
    .inner {
      width: 94px;
      height: 246px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: -123px;
      margin-left: -47px;
      h1, h2, h3 {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
      }
      h1 {
        position: absolute;
        top: 0;
        left: 32px;
        width: 30px;
        height: 246px;
        @include text-image("../img/pc/hd_opening_01.png", 30px, 246px);
      }
      h2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 98px;
        @include text-image("../img/pc/hd_opening_02.png", 15px, 98px);
      }
      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 15px;
        height: 114px;
        @include text-image("../img/pc/hd_opening_03.png", 15px, 114px);
      }
    }
  }
  @include media-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 9999;
    .inner {
      width: 94px;
      height: 246px;
      position: relative;
      top: 50%;
      left: 50%;
      margin-top: -123px;
      margin-left: -47px;
      h1, h2, h3 {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        opacity: 0;
      }
      h1 {
        position: absolute;
        top: 0;
        left: 32px;
        width: 30px;
        height: 246px;
        @include text-image("../img/sp/hd_opening_01.png", 30px, 246px);
        background-size: 30px 246px;
      }
      h2 {
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 98px;
        @include text-image("../img/sp/hd_opening_02.png", 15px, 98px);
        background-size: 15px 98px;
      }
      h3 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 15px;
        height: 114px;
        @include text-image("../img/sp/hd_opening_03.png", 15px, 114px);
        background-size: 15px 114px;
      }
    }
  }
}

//header for PC & Tablet
.index-header {
  @include link-style(#222, none);
  @include media-desktop {
   position: relative;
   height: 100%;
   table-layout: fixed;
   display: table;
   width: 100%;
   text-align: left;
   margin-bottom: 100px;
    header{
        width: 420px;
        height: 100%;
        overflow: hidden;
        background: url("../img/pc/bg_header_01.jpg") no-repeat 50% 50%;
        background-size:  cover;
        position: relative;
        display: table-cell;
        h1{
          width: 120px;
          height: 306px;
          position: absolute;
          top: 80px;
          left: 50%;
          margin-left: -60px;
          @include text-image("../img/pc/hd_logo_01.png", 120px, 306px);
        }
        nav {
          position: absolute;
          bottom: 80px;
          width: 420px;      
          ul {
            li {
              padding: 0 20px;
              text-align: center;
              letter-spacing: 3px;
              margin-top: 25px;
              line-height: 1.0;
            }
          }
        }
    }
    .slider {
      display: table-cell;
      height: 100%;
      overflow: hidden;
      li {
        width: 100%;
        height: 100%;
        font-size: 0;
        text-indent: -9999;
        &.col-1 {
          background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
        &.col-2 {
          background: url("../img/pc/pic_header_02.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
        &.col-3 {
          background: url("../img/pc/pic_header_03.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
      }
    }
  }
  @include media-tablet {
     position: relative;
     height: 620px !important;
     table-layout: fixed;
     display: table;
     width: 100%;
     text-align: left;
     margin-bottom: 100px;
      header{
        width: 280px;
        height: 100%;
        overflow: hidden;
        background: url("../img/pc/bg_header_01.jpg") no-repeat 50% 50%;
        background-size:  cover;
        position: relative;
        display: table-cell;
        h1{
          width: 100px;
          height: 257px;
          position: absolute;
          top: 70px;
          left: 50%;
          margin-left: -60px;
          @include text-image("../img/sp/hd_logo_01.png", 100px, 257px);
          background-size: 100px 257px;
        }
        nav {
          position: absolute;
          bottom: 70px;
          width: 280px;
          ul {
            li {
              padding: 0 20px;
              text-align: center;
              letter-spacing: 3px;
              margin-top: 20px;
              line-height: 1.0;
              font-size: 12px;
            }
          }
        }
    }
    .slider {
      display: table-cell;
      height: 100%;
      overflow: hidden;
      li {
        width: 100%;
        height: 620px !important;
        font-size: 0;
        text-indent: -9999;
        &.col-1 {
          background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
        &.col-2 {
          background: url("../img/pc/pic_header_02.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
        &.col-3 {
          background: url("../img/pc/pic_header_03.jpg") no-repeat 50% 50%;
          background-size:  cover;
        }
      }
    }
  }
}

//header for SP
.index-m-header {
  @include media-phone {
    header {
      position: relative;
      margin-bottom: 60px;
      .bg {
        width: 100%;
        height: 250px;
        background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 100%;
        background-size:  cover;
      }
      .logo {
        width: 94px;
        height: 246px;
        position: relative;
        top: -20px;
        left: 50%;
        margin-left: -47px;
        h1 {
          position: absolute;
          top: 0;
          left: 32px;
          width: 30px;
          height: 246px;
          @include text-image("../img/sp/hd_opening_01.png", 30px, 246px);
          background-size: 30px 246px;
        }
        h2 {
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 98px;
          @include text-image("../img/sp/hd_opening_02.png", 15px, 98px);
          background-size: 15px 98px;
        }
        h3 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 15px;
          height: 114px;
          @include text-image("../img/sp/hd_opening_03.png", 15px, 114px);
          background-size: 15px 114px;
        }
      }
    }
  }
}

//Navigation for SP
.global-m-nav {
  @include link-style(#222, underline);
  @include media-phone {
    .menu-btn {
      display: block;
      width: 42px;
      height:42px;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      background: #FFF;
      cursor: pointer;
      &.active span:first-child {
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
      }
      &.active span:nth-child(2) {
        opacity: 0;
      }
      &.active span:last-child {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
      }
      span {
        display: block;
        background: #222;
        width: 24px;
        height: 2px;
        position: absolute;
        left: 9px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        &:first-child {
          top: 12px;
        }
        &:nth-child(2) {
          margin-top: -1px;
          top: 50%;
        }
        &:last-child {
          bottom: 12px;
        }
      }
    }
  }
  nav {
    display: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 60px 15px 15px;
    background: #FFF;
    line-height: 68px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
  }
}

.contents-header {
  @include media-desktop {
    header {
      position: relative;
      .bg {
        width: 100%;
        height: 300px;
        background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 100%;
        background-size:  cover;
        background-attachment: fixed;
      }
      .logo {
        width: 94px;
        height: 280px;
        position: relative;
        top: -85px;
        left: 50%;
        margin-left: -47px;
        h1 {
          position: absolute;
          top: 0;
          left: 32px;
          @include text-image("../img/pc/hd_opening_01.png", 30px, 246px);
        }
        h2 {
          position: absolute;
          top: 0;
          right: 0;
          @include text-image("../img/pc/hd_opening_02.png", 15px, 98px);
        }
        h3 {
          position: absolute;
          bottom: 0;
          left: 0;
          @include text-image("../img/pc/hd_opening_03.png", 15px, 114px);
        }
      }
    }
  }
  @include media-tablet {
    header {
      position: relative;
      .bg {
        width: 100%;
        height: 300px;
        background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 100%;
        background-size:  cover;
      }
      .logo {
        width: 94px;
        height: 246px;
        position: relative;
        top: -85px;
        left: 50%;
        margin-left: -47px;
        h1 {
          position: absolute;
          top: 0;
          left: 32px;
          width: 30px;
          height: 246px;
          @include text-image("../img/sp/hd_opening_01.png", 30px, 246px);
          background-size: 30px 246px;
        }
        h2 {
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 98px;
          @include text-image("../img/sp/hd_opening_02.png", 15px, 98px);
          background-size: 15px 98px;
        }
        h3 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 15px;
          height: 114px;
          @include text-image("../img/sp/hd_opening_03.png", 15px, 114px);
          background-size: 15px 114px;
        }
      }
    }
  }
  @include media-phone {
    header {
      position: relative;
      .bg {
        width: 100%;
        height: 300px;
        background: url("../img/pc/pic_header_01.jpg") no-repeat 50% 100%;
        background-size:  cover;
      }
      .logo {
        width: 94px;
        height: 246px;
        position: relative;
        top: -85px;
        left: 50%;
        margin-left: -47px;
        h1 {
          position: absolute;
          top: 0;
          left: 32px;
          width: 30px;
          height: 246px;
          @include text-image("../img/sp/hd_opening_01.png", 30px, 246px);
          background-size: 30px 246px;
        }
        h2 {
          position: absolute;
          top: 0;
          right: 0;
          width: 15px;
          height: 98px;
          @include text-image("../img/sp/hd_opening_02.png", 15px, 98px);
          background-size: 15px 98px;
        }
        h3 {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 15px;
          height: 114px;
          @include text-image("../img/sp/hd_opening_03.png", 15px, 114px);
          background-size: 15px 114px;
        }
      }
    }
  }
}


//contents
.contents {
   @include link-style(#222, underline);
   @include media-desktop {
      width: 1000px;
      margin: 0 auto;
      text-align: left;
      nav {
        background: #FEFEFE;
        padding: 20px 0;
        z-index: 999;
        text-align: center;
        	top:0;
        	display:none;
        	opacity:0;
        ul {
          @include clearfix;
          padding: 0;
          width: 1000px;
          margin: 0 auto;
          li {
            list-style: none;
            float: left;
            line-height: 30px;
            width: 165px;
            text-align: center;
            border-left: 1px solid #AAA;
            letter-spacing: 2px;
            &:last-child {
              border-right: 1px solid #AAA;
              float: right;
            }
          }
        }
      }
      .fixed {
        position: fixed;
        top: 0;
      }
      >section {
        margin-bottom: 100px;
        @include clearfix;
      }
      h1 {
        font-size: 36px;
        margin-bottom: 10px;
        font-family: "Ryumin Light KL";
        letter-spacing: 6px;
        color: #222;
      }
      h2.en {
         margin-bottom: 30px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #AAA;
       }
      p {
        line-height: 2.0;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: #444;
      }
      p.num {
         margin-bottom: 10px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #888;
       }
    }
  @include media-tablet {
      width: auto;
      padding: 0 40px;
      margin: 0 auto;
      text-align: left;
      nav {
        background: #FEFEFE;
        padding: 20px 0;
        z-index: 999;
        text-align: center;
        	top:0;
        	display:none;
        	opacity:0;
        ul {
          @include clearfix;
          padding: 0;
          width: 100%;
          margin: 0 auto;
          text-align: center;
          li {
            list-style: none;
            float: none;
            display: inline;
            line-height: 30px;
            width: auto;
            margin-right: 30px;
            font-size: 12px;
            text-align: center;
            border-left: none;
            letter-spacing: 2px;
            &:last-child {
              border-right: none;
              margin-right: 0;
              float: none;
            }
          }
        }
      }
      .fixed {
        position: fixed;
        top: 0;
      }
      >section {
        margin-bottom: 100px;
        @include clearfix;
      }
      h1 {
        font-size: 36px;
        margin-bottom: 10px;
        font-family: "Ryumin Light KL";
        letter-spacing: 6px;
        color: #222;
      }
      h2.en {
         margin-bottom: 30px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #AAA;
       }
      p {
        line-height: 2.0;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: #444;
      }
      p.num {
         margin-bottom: 10px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #888;
       }
    }
    @include media-phone {
      width: auto;
      padding: 0 20px;
      margin: 0 auto;
      text-align: left;
      >section {
        margin-bottom: 100px;
        @include clearfix;
      }
      h1 {
        font-size: 28px;
        margin-bottom: 10px;
        font-family: "Ryumin Light KL";
        letter-spacing: 6px;
        color: #222;
      }
      h2.en {
         margin-bottom: 30px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #AAA;
       }
      p {
        line-height: 2.0;
        margin-bottom: 20px;
        letter-spacing: 1px;
        color: #444;
      }
      p.num {
         margin-bottom: 10px;
         font-family: 'Marcellus', serif;
         letter-spacing: 3px;
         color: #888;
       }
      .text figure {
        margin-bottom: 20px;
      }
    }
    nav > ul > li { @include link-style(#222, none); }
}

.form-contents {
  @include link-style(#222, underline);
  @include media-desktop {
    width: 720px;
    padding: 0 140px;
    margin: 0 auto 100px auto;
    text-align: left;
    h1 {
      font-size: 30px;
      margin-bottom: 5px;
      font-family: "Ryumin Light KL";
      letter-spacing: 4px;
      color: #222;
    }
    h2.en {
       margin-bottom: 30px;
       font-family: 'Marcellus', serif;
       letter-spacing: 3px;
       color: #AAA;
     }
    .section {
      padding-bottom: 20px;
    }
    .lead-txt {
      text-align: center;
      margin-bottom: 80px;
      ul {
        li {
          font-size: 10px;
          line-height: 2.0;
          letter-spacing: 1px;
          color: #444;
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        text-align: center;
        a {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 350px;
          text-align: center;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
    }
    .bs-section {
      ul {
        padding-bottom: 10px;
        li {
          font-size: 16px;
          line-height: 2.0;
          border-bottom: 1px solid #DDD;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 12px;
      }
    }
    p {
      line-height: 2.0;
      margin-bottom: 20px;
      letter-spacing: 1px;
      color: #444;
      &.err {
        display: block;
        color: #990000;
      }
    }
    .deduction {
      padding: 20px;
      margin-bottom: 20px;
      background: #FEFEFE;
      border: 1px solid #DDD;
      h2 {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
        font-weight: normal;
        span {
          font-size: 12px;
          padding: 0 5px;
        }
      }
      ul {
        li {
          font-size: 12px;
          color: #444;
          line-height: 1.6;
        }
      }
    }
    .form-section {
      dl {
        @include clearfix;
        margin-bottom: 20px;
        dt {
          width: 140px;
          float: left;
          letter-spacing: 1px;
          color: #444;
          line-height: 36px;
          em {
            color: #990000;
          }
        }
        dd {
          width: 550px;
          float: right;
          span {
            padding-left: 10px;
            font-size: 12px;
            color: #666;
          }
          em {
            display: inline-block;
            font-style: normal;
            font-size: 14px;
            color: #444;
            padding: 8px 0;
            &.err {
              display: block;
              color: #990000;
              font-size: 12px;
            }
          }
          input {
            padding: 10px;
            border: 1px solid #DDD;
            font-size: 14px;
            background: #F3F3F3;
            color: #444;
            &.text-l {
              width: 528px;
            }
            &.text-s {
              width: 230px;
            }
          }
          .select {
            width: 240px;
/*            padding: 10px;*/
            vertical-align: middle;
            color: #444;
            height: 30px;
            border: 1px solid #DDD;
          }
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        padding-left: 170px;
        input {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 350px;
          text-align: center;
          cursor: pointer;
          float: left;
          margin-right: 40px;
        }
        ul {
          li {
            line-height: 50px;
            @include link-style(#222, underline);
            i {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  @include media-tablet {
    width: auto;
    padding: 0 40px;
    margin: 0 auto 100px auto;
    text-align: left;
    h1 {
      font-size: 30px;
      margin-bottom: 5px;
      font-family: "Ryumin Light KL";
      letter-spacing: 4px;
      color: #222;
      text-align: center;
    }
    h2.en {
       margin-bottom: 30px;
       font-family: 'Marcellus', serif;
       letter-spacing: 3px;
       color: #AAA;
      text-align: center;
     }
    .section {
      padding-bottom: 20px;
    }
    .lead-txt {
      text-align: center;
      margin-bottom: 80px;
      ul {
        li {
          font-size: 10px;
          line-height: 2.0;
          letter-spacing: 1px;
          color: #444;
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        text-align: center;
        a {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 350px;
          text-align: center;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
    }
    .bs-section {
      ul {
        padding-bottom: 10px;
        li {
          font-size: 16px;
          line-height: 2.0;
          border-bottom: 1px solid #DDD;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 12px;
      }
    }
    p {
      line-height: 2.0;
      margin-bottom: 20px;
      letter-spacing: 1px;
      color: #444;
      &.err {
        display: block;
        color: #990000;
      }
    }
    .deduction {
      padding: 20px;
      margin-bottom: 20px;
      background: #FEFEFE;
      border: 1px solid #DDD;
      h2 {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
        font-weight: normal;
        span {
          font-size: 12px;
          padding: 0 5px;
        }
      }
      ul {
        li {
          font-size: 12px;
          color: #444;
          line-height: 1.6;
        }
      }
    }
    .form-section {
      dl {
        @include clearfix;
        margin-bottom: 20px;
        display: table;
        width: 100%;
        dt {
          width: 140px;
          display: table-cell;
          letter-spacing: 1px;
          color: #444;
          line-height: 36px;
          em {
            color: #990000;
          }
        }
        dd {
          width: auto;
          display: table-cell;
          padding-left: 30px; 
          span {
            padding-left: 10px;
            font-size: 12px;
            color: #666;
          }
          em {
            display: inline-block;
            font-style: normal;
            font-size: 14px;
            color: #444;
            padding: 8px 0;
            &.err {
              display: block;
              color: #990000;
              font-size: 12px;
            }
          }
          input {
            padding: 10px;
            border: 1px solid #DDD;
            font-size: 14px;
            background: #F3F3F3;
            color: #444;
            &.text-l {
              width: 100%;
            }
            &.text-s {
              width: 230px;
            }
          }
          .select {
            width: 240px;
/*            padding: 10px;*/
            vertical-align: middle;
            color: #444;
            height: 30px;
            border: 1px solid #DDD;
          }
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        padding-left: 170px;
        input {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 350px;
          text-align: center;
          cursor: pointer;
          float: left;
          margin-right: 40px;
        }
        ul {
          li {
            line-height: 50px;
            @include link-style(#222, underline);
            i {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
  @include media-phone {
    padding: 0 20px;
    margin: 0 auto 100px auto;
    text-align: left;
    h1 {
      font-size: 28px;
      margin-bottom: 5px;
      font-family: "Ryumin Light KL";
      letter-spacing: 4px;
      color: #222;
      text-align: center;
    }
    h2.en {
       margin-bottom: 30px;
       font-family: 'Marcellus', serif;
       letter-spacing: 3px;
       color: #AAA;
      text-align: center;
     }
    .section {
      padding-bottom: 20px;
    }
    .lead-txt {
      text-align: center;
      margin-bottom: 80px;
      ul {
        li {
          font-size: 10px;
          line-height: 2.0;
          letter-spacing: 1px;
          color: #444;
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        text-align: center;
        a {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 350px;
          text-align: center;
          cursor: pointer;
          margin: 0 auto;
          text-decoration: none;
        }
      }
    }
    .bs-section {
      ul {
        padding-bottom: 10px;
        li {
          font-size: 16px;
          line-height: 2.0;
          border-bottom: 1px solid #DDD;
          padding-bottom: 10px;
          margin-bottom: 10px;
        }
      }
      p {
        font-size: 12px;
      }
    }
    p {
      line-height: 2.0;
      margin-bottom: 20px;
      letter-spacing: 1px;
      color: #444;
      &.err {
        display: block;
        color: #990000;
      }
    }
    .deduction {
      padding: 20px;
      margin-bottom: 20px;
      background: #FEFEFE;
      border: 1px solid #DDD;
      h2 {
        margin-bottom: 20px;
      }
      h3 {
        font-size: 24px;
        font-weight: normal;
        span {
          font-size: 12px;
          padding: 0 5px;
        }
      }
      ul {
        li {
          font-size: 12px;
          color: #444;
          line-height: 1.6;
        }
      }
    }
    .form-section {
      dl {
        @include clearfix;
        margin-bottom: 20px;
        display: table;
        width: 100%;
        dt {
          width: 90px;
          display: table-cell;
          letter-spacing: 1px;
          color: #444;
          line-height: 36px;
          em {
            color: #990000;
          }
        }
        dd {
          width: auto;
          display: table-cell;
          span {
            padding-left: 10px;
            font-size: 12px;
            color: #666;
          }
          em {
            display: inline-block;
            font-style: normal;
            font-size: 14px;
            color: #444;
            padding: 8px 0;
            &.err {
              display: block;
              color: #990000;
              font-size: 12px;
            }
          }
          input {
            border: 1px solid #DDD;
            padding: 10px;
            font-size: 14px;
            background: #F3F3F3;
            color: #444;
            &.text-l {
              width: 88%;
            }
            &.text-s {
              width: 88%;
            }
          }
          .select {
            width: 240px;
            vertical-align: middle;
            color: #444;
            height: 30px;
            border: 1px solid #DDD;
          }
        }
      }
      .btn-section {
        @include clearfix;
        padding-top: 20px;
        input {
          display: inline-block;
          border-radius: 3px;
          background-color: #222;
          border: 1px solid;
          border-color: #222 #222 #555;
          box-shadow: inset 0 1px 0 #555;
          box-sizing: border-box;
          -webkit-appearance: none;
          padding: 15px;
          font-size: 14px;
          font-weight: bold;
          letter-spacing: 2px;
          color: #FFF;
          width: 100%;
          text-align: center;
          cursor: pointer;
          float: left;
          margin-right: 40px;
        }
        ul {
          li {
            line-height: 50px;
            @include link-style(#222, underline);
            i {
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}


//news
.news {
   @include media-desktop {
     padding-left: 45px;
      li {
        text-align: left;
        margin-bottom: 20px;
        letter-spacing: 2px;
        time {
          color: #999;
          margin-right: 20px;
        }
        em {
          color: #CC0033;
          font-style: normal;
        }
      }
       &:last-child {
         margin-bottom: 0;
       }
    }
    @include media-tablet {
     padding-left: 45px;
      li {
        text-align: left;
        margin-bottom: 20px;
        letter-spacing: 2px;
        font-size: 12px;
        time {
          color: #999;
          margin-right: 20px;
        }
        em {
          color: #CC0033;
          font-style: normal;
        }
      }
       &:last-child {
         margin-bottom: 0;
       }
    }
    @include media-phone {
      li {
        text-align: center;
        margin-bottom: 20px;
        letter-spacing: 2px;
        line-height: 1.8;
        font-size: 12px;
        time {
          color: #999;
          display: block;
        }
        em {
          color: #CC0033;
          font-style: normal;
        }
      }
       &:last-child {
         margin-bottom: 0;
       }
    }
}

//about
.about {
   @include media-desktop {
     padding-left: 95px;
     .text {
       width: 495px;
       float: right;
       padding-top: 30px;
     }
     .pic {
       width: 360px;
       float: left;
     }
   }
   @include media-tablet {
     display: table;
     width: auto;
     padding-left: 0;
     .text {
       display: table-cell;
       width: auto;
       padding-top: 30px;
       padding-left: 30px;
       vertical-align: top;
       font-size: 12px;
     }
     .pic {
       display: table-cell;
       width: 240px;
     }
     .pic img {
       width: 100%;
      }
   }
  @include media-phone {
   .text {
     vertical-align: top;
     font-size: 12px;
   }
  }
}


//summary
.summary {
   @include media-desktop {
     padding-right: 95px;
     .text {
       width: 495px;
       float: left;
       padding-top: 30px;
       >section {
         @include clearfix;
         margin-bottom: 10px;
         h3 {
           width: 95px;
           font-weight: normal;
           float: left;
           line-height: 2.0;
         }
         .content {
           width: 400px;
           float: left;
           p {
             margin-bottom: 0;
           }
           aside p {
             padding-top: 10px;
             font-size: 10px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 2.0;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
              }
              &:last-child {
                margin-bottom: 0;
              }
           }
         }
       }
     }
     .pic {
       width: 360px;
       float: right;
     }
   }
   @include media-tablet {
     display: table;
     width: auto;
     .text {
       display: table-cell;
       width: auto;
       float: none;
       padding-top: 30px;
       padding-right: 30px;
       vertical-align: top;
       font-size: 12px;
       >section {
         @include clearfix;
         margin-bottom: 10px;
         display: table;
         h3 {
           width: 90px;
           font-weight: normal;
           float: none;
           line-height: 2.0;
           display: table-cell;
         }
         .content {
           width: auto;
           display: table-cell;
           float: none;
           p {
             margin-bottom: 0;
           }
           aside p {
             padding-top: 10px;
             font-size: 10px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 2.0;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
              }
              &:last-child {
                margin-bottom: 0;
              }
           }
         }
       }
     }
     .pic {
       display: table-cell;
       width: 240px;
       float: none;
     }
     .pic img {
       width: 100%;
      }
   }
   @include media-phone {
     .text {
       width: auto;
       float: none;
       padding-top: 30px;
       vertical-align: top;
       font-size: 12px;
       >section {
         @include clearfix;
         margin-bottom: 10px;
         display: table;
         h3 {
           width: 90px;
           font-weight: normal;
           float: none;
           line-height: 2.0;
           display: table-cell;
         }
         .content {
           width: auto;
           display: table-cell;
           float: none;
           p {
             margin-bottom: 0;
           }
           aside p {
             padding-top: 10px;
             font-size: 10px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 1.8;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
                &:last-child {
                  margin-bottom: 0;
                }
              }
           }
         }
       }
     }
   }
}

//greeting
.greeting {
   @include media-desktop {
     padding-left: 95px;
     .text {
       width: 640px;
       float: right;
       padding-top: 30px;
     }
     .pic {
       width: 210px;
       float: left;
       h1 {
         @include text-image("../img/pc/pic_greeting_01.jpg", 210px, 250px);
       }
       p {
          text-align: center;
          padding-top: 20px;
          letter-spacing: 1px;
          color: #444;
       }
     }
   }
   @include media-tablet {
     display: table;
     width: auto;
     padding-left: 0;
     .text {
       display: table-cell;
       width: auto;
       float: none;
       padding-top: 30px;
       padding-left: 30px;
       vertical-align: top;
       font-size: 12px;
     }
     .pic {
       display: table-cell;
       width: 210px;
       float: none;
       h1 {
         @include text-image("../img/sp/pic_greeting_01.jpg", 210px, 250px);
         background-size: 210px 250px;
       }
       p {
          text-align: center;
          padding-top: 20px;
          letter-spacing: 1px;
          color: #444;
       }
     }
   }
   @include media-phone {
     display: table;
     .text {
       padding-top: 30px;
       vertical-align: top;
       font-size: 12px;
       .pic {
         text-align: center;
         h1 {
           @include text-image("../img/sp/pic_greeting_01.jpg", 210px, 250px);
           background-size: 210px 250px;
           margin: 0 auto;
         }
         p {
           padding-top: 10px;
           font-size: 14px;
         }
       }
     }
   }
}

//member
.member {
   @include media-desktop {
     padding-right: 95px;
     .text {
       width: 495px;
       float: left;
       padding-top: 30px;
       section {
         padding-top: 10px;
         width: auto;
         h2 {
           font-size: 16px;
           margin-bottom: 20px;
         }
         p {
           margin-bottom: 0;
           padding-left: 30px;
           text-indent: -30px;
         }
         ul {
           padding-left: 60px;
           li {
             margin-bottom: 0;
             line-height: 2.0;
             color: #444;
           }
         }
       }
       .btn {
         padding-top: 30px;
         a {
           display: block;
           padding: 15px;
           background: #FFF;
           border: 1px solid #222;
           text-align: center;
           text-decoration: none;
           font-size: 14px;
           font-weight: bold;
           -webkit-transform: translateZ(0);
           transform: translateZ(0);
           box-shadow: 0 0 1px rgba(0, 0, 0, 0);
           -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
           -moz-osx-font-smoothing: grayscale;
           position: relative;
           -webkit-transition-property: color;
           transition-property: color;
           -webkit-transition-duration: 0.1s;
           transition-duration: 0.1s;
           &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: #222;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.1s;
            transition-duration: 0.1s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
           }
           &:hover, &:focus, &:active {
             color: #FFF;
             background: #222;
           }
           &:hover:before, &:focus:before, &:active:before {
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
           }
         }
       }
     }
     .pic {
       width: 360px;
       float: right;
       figure:first-child {
         margin-bottom: 20px;
       }
       figcaption {
          text-align: center;
          padding-top: 20px;
          letter-spacing: 1px;
          color: #444;
       }
     }
   }
   @include media-tablet {
     display: table;
     width: auto;
     padding-left: 0;
     .text {
       display: table-cell;
       width: auto;
       float: none;
       padding-top: 30px;
       padding-right: 30px;
       vertical-align: top;
       font-size: 12px;
       section {
         padding-top: 10px;
         width: auto;
         h2 {
           font-size: 16px;
           margin-bottom: 20px;
         }
         p {
           margin-bottom: 0;
           padding-left: 30px;
           text-indent: -30px;
         }
         ul {
           padding-left: 60px;
           li {
             margin-bottom: 0;
             line-height: 2.0;
             color: #444;
           }
         }
       }
       .btn {
         padding-top: 30px;
         a {
           display: block;
           padding: 15px;
           background: #FFF;
           border: 1px solid #222;
           text-align: center;
           text-decoration: none;
           font-size: 14px;
           font-weight: bold;
         }
       }
     }
     .pic {
       display: table-cell;
       width: 240px;
       float: none;
       figure:first-child {
         margin-bottom: 20px;
       }
       figcaption {
          text-align: center;
          padding-top: 20px;
          letter-spacing: 1px;
          color: #444;
       }
     }
   }
   @include media-phone {
     .text {
       width: auto;
       float: none;
       padding-top: 30px;
       vertical-align: top;
       font-size: 12px;
       section {
         padding-top: 10px;
         width: auto;
         h2 {
           font-size: 16px;
           margin-bottom: 20px;
         }
         p {
           margin-bottom: 0;
           padding-left: 30px;
           text-indent: -30px;
         }
         ul {
           padding-left: 60px;
           li {
             margin-bottom: 0;
             line-height: 2.0;
             color: #444;
           }
         }
       }
       .btn {
         padding-top: 30px;
         a {
           display: block;
           padding: 15px;
           background: #FFF;
           border: 1px solid #222;
           text-align: center;
           text-decoration: none;
           font-size: 14px;
           font-weight: bold;
         }
       }
     }
   }
}

//donation
.donation {
   @include media-desktop {
     .text {
       width: 1000px;
       .contents {
         padding-top: 20px;
         @include clearfix;
         dl {
           width: 475px;
           float: left;
           margin-bottom: 40px;
           &:last-child {
             float: right;
           }
           dt {
             font-size: 16px;
             font-weight: bold;
             margin-bottom: 20px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 2.0;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
         }
       }
     }
   }
    @include media-tablet {
     .text {
       width: auto;
       font-size: 12px;
       .contents {
         padding: 20px 0;
         @include clearfix;
         dl {
           width: 48%;
           float: left;
           margin-bottom: 40px;
           &:last-child {
             float: right;
           }
           dt {
             font-size: 16px;
             font-weight: bold;
             margin-bottom: 20px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 2.0;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
         }
       }
     } 
  }
    @include media-phone {
     .text {
       font-size: 12px;
       .contents {
         padding-top: 20px;
         @include clearfix;
         dl {
           dt {
             font-size: 16px;
             font-weight: bold;
             margin-bottom: 20px;
           }
           dd {
             padding-bottom: 40px;
           }
           ol {
             padding-left: 25px;
             li {
                list-style: decimal;
                line-height: 2.0;
                margin-bottom: 5px;
                letter-spacing: 1px;
                color: #444;
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
         }
       }
     } 
  }
}

//books
.books {
   @include media-desktop {
     @include clearfix;
     h1, h2 {
       text-align: center;
     }
     .raw {
       display: inline;
     }
    .raw02 section:last-child {
         margin-right: 0;
     }
     section {
       width: 220px;
       float: left;
       margin-right: 40px;
       div {
         height: 244px;
         width: 220px;
         position: relative;
         text-align: center;
         vertical-align: bottom;
         display: table-cell;
         padding-bottom: 30px;
         a {
           height: 244px;
           width: 100%;
           display: block;
           font-size: 0;
           text-indent: -999;
           border: none !important;
         }
       }
       &.book01 div a { background: url(../img/pc/pic_book_01.jpg) no-repeat 50% 100%; }
       &.book02 div a { background: url(../img/pc/pic_book_02.jpg) no-repeat 50% 100%; }
       &.book03 div a { background: url(../img/pc/pic_book_03.jpg) no-repeat 50% 100%; }
       &.book04 div a { background: url(../img/pc/pic_book_04.jpg) no-repeat 50% 100%; }
       h2, h3 {
         text-align: left;
         font-weight: normal;
         line-height: 1.8;
       }
       h3 {
         color: #222;
         margin-bottom: 20px;
       }
       p {
         font-size: 12px;
         color: #666;
         line-height: 1.6;
       }
     }
  }
  @include media-tablet {
     @include clearfix;
     width: auto;
     display: table;
     h1, h2 {
       text-align: center;
     }
     .raw {
       @include clearfix;
       padding: 40px;
     }
     section {
       width: 45%;
       margin-right: 0;
       float: left;
       &:last-child {
         float: right;
       }
       div {
         height: 244px;
         width: 100%;
         padding-bottom: 30px;
         text-align: left;
        a {
         height: 244px;
         width: 100%;
         display: block;
         font-size: 0;
         text-indent: -999;
         border: none !important;
        }
       }
       &.book01 div a { background: url(../img/sp/pic_book_01.jpg) no-repeat 50% 100%; background-size: 150px 244px; }
       &.book02 div a { background: url(../img/sp/pic_book_02.jpg) no-repeat 50% 100%; background-size: 163px 244px; }
       &.book03 div a { background: url(../img/sp/pic_book_03.jpg) no-repeat 50% 100%; background-size: 172px 244px; }
       &.book04 div a { background: url(../img/sp/pic_book_04.jpg) no-repeat 50% 100%; background-size: 180px 174px; }
       h2, h3 {
         text-align: left;
         font-weight: normal;
         line-height: 1.8;
       }
       h3 {
         color: #222;
         margin-bottom: 20px;
       }
       p {
         font-size: 12px;
         color: #666;
         line-height: 1.6;
       }
     }
  }
   @include media-phone {
     h1, h2 {
       text-align: left;
     }
     .raw {
       display: inline;
     }
     section {
       padding: 0 40px 20px 40px;
       div {
         padding-bottom: 30px;
         a {
           height: 244px;
           width: 100%;
           display: block;
           font-size: 0;
           text-indent: -999;
           border: none !important;
         }
       }
       &.book01 div a { background: url(../img/sp/pic_book_01.jpg) no-repeat 50% 100%; background-size: 150px 244px; }
       &.book02 div a { background: url(../img/sp/pic_book_02.jpg) no-repeat 50% 100%; background-size: 163px 244px; }
       &.book03 div a { background: url(../img/sp/pic_book_03.jpg) no-repeat 50% 100%; background-size: 172px 244px; }
       &.book04 div a { background: url(../img/sp/pic_book_04.jpg) no-repeat 50% 100%; background-size: 180px 174px; }
       h2, h3 {
         text-align: left;
         font-weight: normal;
         line-height: 1.8;
       }
       h3 {
         color: #222;
         margin-bottom: 20px;
       }
       p {
         font-size: 12px;
         color: #666;
         line-height: 1.6;
       }
     }
  }
}

//footer 
footer {
  @include media-desktop {
    background: url("../img/pc/bg_footer_01.png") repeat 0 0;
    padding: 30px 0;
    .inner {
    @include clearfix;
      width: 1000px;
      margin: 0 auto;
      text-align: left;
      .info {
        float: left;
        width: 700px;
        p {
          font-size: 12px;
          color: #666;
          line-height: 1.8;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 16px;
          color: #222;
          line-height: 1.8;
        }
        address {
          font-style: normal;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
        }
      }
      .link {
        float: right;
        width: 260px;
        h1 {
          font-style: bold;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        div {
          a {
            @include text-image("../img/pc/bnr_link_01.jpg", 260px, 90px);
            display: block;
          }
        }
      }
    }
  }
  @include media-tablet {
    background: url("../img/pc/bg_footer_01.png") repeat 0 0;
    padding: 30px 0;
    .inner {
    @include clearfix;
      width: auto;
      padding: 0 40px;
      margin: 0 auto;
      text-align: left;
      .info {
        float: left;
        width: 55%;
        p {
          font-size: 12px;
          color: #666;
          line-height: 1.8;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 16px;
          color: #222;
          line-height: 1.8;
        }
        address {
          font-style: normal;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
        }
      }
      .link {
        float: right;
        width: 42%;
        max-width: 260px;
        h1 {
          font-style: bold;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        div {
          a {
            @include text-image("../img/sp/bnr_link_01.jpg", 260px, 90px);
            background-size: 260px 90px;
            display: block;
          }
        }
      }
    }
  }
  @include media-phone {
    background: url("../img/pc/bg_footer_01.png") repeat 0 0;
    padding: 30px 0;
    .inner {
    @include clearfix;
      width: auto;
      padding: 0 10px;
      margin: 0 auto;
      text-align: center;
      .info {
        p {
          font-size: 12px;
          color: #666;
          line-height: 1.8;
          margin-bottom: 20px;
        }
        h1 {
          font-size: 16px;
          color: #222;
          line-height: 1.8;
        }
        address {
          font-style: normal;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
        }
      }
      .link {
        padding-top: 20px;
        h1 {
          font-style: bold;
          font-size: 12px;
          color: #222;
          letter-spacing: 1px;
          margin-bottom: 5px;
        }
        div {
          a {
            @include text-image("../img/sp/bnr_link_01.jpg", 260px, 90px);
            background-size: 260px 90px;
            margin: 0 auto;
            display: block;
          }
        }
      }
    }
  }
}

.copyright {
  @include media-desktop {
    padding: 30px 0;
    background: url("../img/pc/bg_copyright_01.png") repeat 0 0;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 100px; 
  }
  @include media-tablet {
    padding: 30px 0;
    background: url("../img/pc/bg_copyright_01.png") repeat 0 0;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 100px;    
  }
  @include media-phone {
    padding: 30px 0;
    background: url("../img/pc/bg_copyright_01.png") repeat 0 0;
    text-align: center;
    color: #FFF;
    font-size: 10px;
    font-family: 'Marcellus', serif;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 100px;    
  }
}

